.logo {
  display: block;
  text-align: center;
}
.list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
}
.insert {
  background-color: rgb(255, 196, 0);
  margin: 50px;
  border: 5px solid rgb(255, 196, 0);
  width: 50%;
  text-align: center;
  display: block;
  margin: 50px auto;
}
.logo-img {
  width: 300px;
}
input[type="text"] {
  border: rgb(255, 196, 0);
}
.add:hover {
  /* color: chartreuse; */
  /* background-color: blue; */
  cursor: pointer;
}
.add {
  background-image: url("https://cdn.onlinewebfonts.com/svg/img_24970.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 196, 0);
  border: none;
  /* background-color: rgb(255, 196, 0); */
  /* border-radius: 20px; */
}
.display {
  background-color: rgb(255, 196, 0);
  /* background-color: aqua; */
  width: 250px;
  height: 250px;
  margin: 10px 10px;
  border-radius: 5px;
  padding: 5px;
  word-wrap: break-word;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
